.cover__container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

@media screen and (max-width: 768px) {
   .cover__container {
      margin-right: 10px;
   }
}

@media screen and (max-width: 500px) {
   .cover__container {
      margin-right: 0;
      padding: 0 30px 0;
   }
}
