.header__link {
	color: #000;
	text-decoration: none;
	font-size: 16px;
	font-weight: 700;
	position: relative;
	z-index: 2;
}

@media screen and (max-width: 768px) {
	.header__link {
		display: none;
	}
}
