.cover__title {
   margin: 0 0 40px;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 700;
   color: #fecfab;
}

@media screen and (max-width: 768px) {
   .cover__title {
      margin: 0 0 22px;
      font-size: 12px;
   }
}

@media screen and (max-width: 320px) {
   .cover__title {
      margin: 0 0 15px;
   }
}