.footer {
   min-height: 620px;
   background-color: #fecda7;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media screen and (max-width: 1024px) {
   .footer {
      min-height: 460px;
   }
}

@media screen and (max-width: 1024px) {
   .footer {
      min-height: 360px;
   }
}

@media screen and (max-width: 425px) {
   .footer {
      min-height: 200px;
   }
}