.header__body {
	box-sizing: border-box;
	padding: 45px 68px 40px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 1024px) {
	.header__body {
		padding: 45px 40px 40px;
	}
}

@media screen and (max-width: 768px) {
	.header__body {
		justify-content: flex-end;
		padding: 20px 30px 20px;
	}
}

