.cards__text {
   width: 100%;
	background-color: #f2f2f2;
	box-sizing: border-box;
	padding: 70px 68px 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (max-width: 1024px) {
   .cards__text {
      padding: 40px 40px 65px;
   }
}

@media screen and (max-width: 768px) {
   .cards__text  {
      padding: 35px 30px 50px;
		grid-area: text;
   }
}

@media screen and (max-width: 425px) {
   .cards__text  {
      padding: 35px 30px 40px;
   }
}

